@font-face {
  font-family: "Maghribi Assile";
  src: url("./assets/fonts/maghribi-assile-regular/maghribi-assile-regular.ttf")
    format("truetype");
}

:root {
  direction: rtl;
  --clr-primary: #000;
  --clr-secondary: #513833;
  --clr-accent: #951d06;

  --ff-main: "Maghribi Assile", serif;
  --fs-body: 1.3rem;
}

html,
body,
*,
*::after,
*::before,
p,
h1 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-main);
  background: radial-gradient(50% 50% at 50% 50%, #e3dbc2 0%, #d5c8a4 100%);
  font-size: var(--fs-body);
  font-weight: 400;
  padding: 2.5rem 5rem;
  border: solid 7px var(--clr-secondary);
}

.body-wrapper {
  max-width: 1510px;
  margin: 0 auto;
}
/* NAVIGATION */

.navbar {
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.8em;
}

.navbar__list {
  display: flex;
  list-style: none;
  gap: 4rem;
  padding-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.navbar__list__link {
  color: var(--clr-secondary);
  text-decoration: none;
}
.navbar__list a:hover,
.navbar__list a:focus {
  color: var(--clr-accent);
}

.navbar__logo {
  order: 1;
  color: var(--clr-secondary);
}

/* MAIN */

/* BOOK CARD */

.main {
  display: flex;
  gap: 2.5rem;
  min-height: 862px;
}

.main__header {
  border: 7px solid var(--clr-secondary);
  flex-basis: 468px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main__header__bg--top,
.main__header__bg--bottom {
  background-image: url("./assets/img/book-ornament.jpg");
  aspect-ratio: 1/0.63;
  background-size: contain;
  background-repeat: no-repeat;
}

.main__header__bg--bottom {
  transform: scaleY(-1);
}

.main__header__title {
  margin: 1.3em 0;
}

.main__header__title--head {
  color: var(--clr-accent);
  font-size: 6rem;
  text-align: center;
  font-weight: 400;
}

.main__header__title--subhead {
  margin-bottom: 0.1em;
  font-size: 2.3rem;
  text-align: center;
}

.main__body {
  position: relative;
  border: 7px solid var(--clr-secondary);
  padding: 2rem;
  width: 100%;
}

/* MESSAGE */
.message {
  font-size: 2.5rem;
  text-align: center;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
}
.message__stamp {
  width: 7.5rem;
}

.message__control--previous,
.message__control--next {
  position: absolute;
  background: none;
  border: none;
  font-family: var(--ff-main);
  font-size: 2.3rem;
  cursor: pointer;
}

button:hover,
button:focus {
  color: var(--clr-accent);
}

.message__control--next {
  left: 2rem;
}
.message__control--previous {
  right: 2rem;
}

.message__text {
  margin-top: 3rem;
  font-size: 2.4rem;
  max-width: 32ch;
}

.message__sender {
  margin-top: auto;
  font-size: 2rem;
  color: var(--clr-secondary);
}

/* UTIlS */

.active {
  color: var(--clr-accent);
}

.accent {
  color: var(--clr-accent);
}

.hidden {
  display: none;
}

/* MEDIA QUERIES */

@media (max-height: 1043px) {
  body {
    height: 100%;
  }
}

@media (min-height: 1044px) {
  body {
    height: 100vh;
  }
}

@media (max-width: 1336px) {
  body {
    display: block;
    height: 100%;
  }

  .main__header {
    flex-basis: auto;
    flex-shrink: 0;
    width: 468px;
  }
  .main__body {
    max-width: 782px;
  }
  .message__text {
    font-size: 2.2rem;
  }
}

@media (max-width: 1243px) {
  .main {
    flex-direction: column;
    align-items: center;
  }

  .main__header {
    flex-basis: auto;
    flex-shrink: 1;
  }

  .main__body {
    min-width: 468px;
  }

  .message__text {
    margin-bottom: 1em;
  }
}
